h1{
	text-transform: capitalize;
}

p.p_pertama{
	text-align: justify;
}

p.p_kedua{
	text-decoration: underline;
}

*{
	color: white;
	background-color: green;
}

p.p_tiga{
	text-align: center;
}

p.p_empat{
	text-align: center;
}

.p_lima{
	text-decoration: line-through;
}